<!doctype html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark main-nav" style="background: rgb(74,118,168)">
    <div class="container">
        <ul class="nav navbar-nav">
            <a  href="/" style="width:50px; height:50px"><img src="/static/img/as_logo.png" width="100%" height="100%"></a>
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <%if (isLogin) { %>
            <li class="nav-item">
                <a class="nav-link" href="/rating">Рейтинг</a>
            </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="/dirlist">Список направлений</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
            </li>
        </ul>
        <ul class="nav navbar-nav mx-auto">
            <!-- <li class="nav-item"><a class="nav-link" href="#">Помошник абитуриента</a></li> -->
        </ul>
        <ul class="nav navbar-nav">
          <%if (isLogin) { %>
            <a class="btn btn-dark" type="button" style="" href="/profile" style="margin-right:8pt">Личный кабинет</a>
            <a class="btn btn-dark" type="button" href="/logout">Выход</a>
            <% } else{ %>
              <a class="btn btn-dark" type="button" href="/reg" style="margin-right:8pt">Регистрация</a>
              <a class="btn btn-dark" type="button" href="/login">Вход</a>
            <% } %>
        </ul>
    </div>
</nav>
