<!doctype html>
<html>
<head>
    <title> StartUpLab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
      
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <%-include('headinc.ejs') %>

    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/x-icon">
    <style>
    *{

    
    font-family: 'Philosopher', sans-serif;
  }
    </style>
</head>
<body>

    <%- include('header.ejs', {isLog: isLogin, rol:role}) %>
    <div class="main"></div>
    <%- include('footer.ejs') %>
</body>
</html>
