<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=yes">
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/as_logo.png" type="image/x-icon">
    <style>
      *{
        font-family: 'Philosopher', sans-serif;
      }
    </style>
  </head>
<body>
  <%- include('header.ejs') %>
  <div class="fluid-container d-flex justify-content-center align-items-center" style="margin-top:10px">
    <div class="row">
    <div class="col-6">
      <div class="card " style="width: 18rem;text-align:center; box-shadow: 0px 0px 10px rgba(0,0,0,0.5)">
        <div class="card-body">
          <img src="/static/img/as_logo.png" width="128px" height="128px">
          <h5 class="card-title"><%=user.s_name%> <%=user.f_name%> <%=user.t_name%></h5>
          <p class="card-text"><%=user.email%></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Интересующие направления</li>
          <li class="list-group-item">Редактирование профиля</li>
        </ul>
        <div class="card-body">
          <a class="card-link" href="/logout">Выход</a>
          <a href="#" class="card-link">Удалить профиль</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card "  style="width: 18rem;text-align:center; text-justify:center; box-shadow: 0px 0px 10px rgba(0,0,0,0.5)">
        <div class="card-body">
            <ul>
                <% user.dispList.forEach(function(disp) { %>
                    <li><label><%= disp[0]%></label>: <label><%= disp[1]%></label></li>
                <% }); %>
            </ul>
            <form>
              <div class="form-row" id="newRow">
              </div>
            </form>
            <input type="button" id="addRow" value="+" style="margin-top:10px">
            <input type="button" id="refresh" value="⟲" style="margin-top:10px">
<script>
var count = 0;
addRow.addEventListener("click", function(){
  var select = document.createElement('SELECT');
  select.class = "form-control";
  select.id = "sel" + count;
  select.setAttribute("data-id", "id" + count);
  select.style = "max-width:150px; margin:auto";
  select.height = 36;

  var option = document.createElement("option");
  option.text = "Физика";
  select.add(option);
  var option = document.createElement("option");
  option.text = "Химия";
  select.add(option);
  var option = document.createElement("option");
  option.text = "Информатика и ИКТ";
  select.add(option);
  var option = document.createElement("option");
  option.text = "Биология";
  select.add(option);
  var option = document.createElement("option");
  option.text = "География";
  select.add(option);
  var option = document.createElement("option");
  option.text = "История";
  select.add(option);
  var option = document.createElement("option");
  option.text = "Обществознание";
  select.add(option);
  var option = document.createElement("option");
  option.text = "Литература";
  select.add(option);
  var option = document.createElement("option");
  option.text = "Английский язык";
  select.add(option);
  var option = document.createElement("option");
  option.text = "Немецкий язык";
  select.add(option);
  var option = document.createElement("option");
  option.text = "Французский язык";
  select.add(option);
  var option = document.createElement("option");
  option.text = "Испанский язык";
  select.add(option);
  var option = document.createElement("option");
  option.text = "Китайский язык";
  select.add(option);

  document.querySelector('#newRow').appendChild(select);
  var input = document.createElement('INPUT');
  input.type = 'text';
  input.setAttribute("data-id", "id" + count);
  input.name = "value[]";
  input.class = "form-control";
  input.placeholder = "228";
  input.style = "max-width:50px;margin:auto";
  document.querySelector('#newRow').appendChild(input);
  count++;
});
</script>
        </div>
      </div>
    </div>
  </div>
</div>
	<!-- <div class="main" style="background-color: rgb(230,231,239); margin-top:0;">
    <div class="profile-cover">
				<div class="mr-md-3 mb-2 mb-md-0">
					<a href="#" class="profile-thumb">
					</a>
				</div>
				<div class="media-body text-white">
          <h1 class="mb-0"><%=user.s_name%> <%=user.f_name%></h1>
          <h4 class="d-block text-grey-300">@<%=user.username%></h4>
          <h4 class="d-block text-grey-300">@<%=user.email%></h4>
          <h4 class="d-block text-grey-300">@<%=user.verification%></h4>
          <h4 class="d-block text-grey-300">@<%=user.perm%></h4>
          <h4 class="d-block text-grey-300">@<%=user.send_verification%></h4>
				</div>
			</div>
		</div>
  </div> -->
</body>
</html>
