<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/as_logo.png" type="image/x-icon">
    <style>
    *{
      font-family: 'Philosopher', sans-serif;
    }
    </style>
</head>
<body>
  <%- include('header.ejs') %>
  <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
  <% } %>
    <div class="main content d-flex justify-content-center">
    <form class="login-form" action="/login" method="post">
        <div class="card mb-0">
          <div class="card-body">
            <div class="text-center mb-3">
              <!--<i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>-->
              <i class="fas fa-user-alt fa-3x  text-slate-300 border-slate-300 border-3 rounded-round  p-3 mb-3 mt-1"></i>
              <h5 class="mb-0">Авторизация</h5>
            </div>
            <div class="form-group form-group-feedback form-group-feedback-left">
              <input type="text" class="form-control"  name="login" id="login" placeholder="Логин" required>
            </div>

            <div class="form-group form-group-feedback form-group-feedback-left">
              <input type="password" class="form-control" name="pass" id="pass" placeholder="Пароль">
              <div class="form-control-feedback">
                <i class="icon-lock2 text-muted"></i>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-volsu btn-block">Войти<i class="icon-circle-right2 ml-2"></i></button>
            </div>

            <!--<div class="text-center">
              <a href="#">Forgot password?</a>
            </div> -->
          </div>
        </div>
      </form>
  </div>

</body>
</html>
