<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <style>

    </style>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
  <%- include('header.ejs', {isLog: isLogin}) %>
  <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
<% } %>
  <h1> РЕГИСТРАЦИЯ </h1>
  <div class="tabs-box">

  <form action="/reg" method="post" class="container">
    <div class="form-group">
      <label for="sname">Фамилия</label>
      <input type="text" class="form-control" name="sname" id="sname" aria-describedby="helpId" placeholder="Иванов" required>
    </div>
    <div class="form-group">
        <label for="fname">Имя</label>
        <input type="text" class="form-control" name="fname" id="fname" aria-describedby="helpId" placeholder="Иван" required>
      </div>

    <div class="form-group">
      <label for="email">Почта</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="почта" required>
    </div>
    <div class="form-group">
      <label for="login">Логин</label>
      <input type="text" class="form-control" name="username" id="login" aria-describedby="helpId" placeholder="логин" required>
      <small id="helpId" class="form-text text-muted">Выбирайте внимательно. Изменить его будет нельзя.</small>
    </div>
    <div class="form-group">
      <label for="pass1">Пароль</label>
      <input type="password" class="form-control" name="password" id="pass1" placeholder="пароль" required>
    </div>
    <!-- <div class="form-group">
      <label for="pass2">Повторите пароль</label>
      <input type="password" class="form-control" name="pass2" id="pass2" placeholder="повтор">
    </div> -->

    <div class="form-group">
      <label for="order">Ваша роль</label>
      <select class="custom-select" name="order" id="order">
        <option value="true">Заказчик</option>
        <option value="false">Исполнитель</option>
      </select>
    </div>

    <button type="submit" class="btn btn-outline-dark">Зарегистрироваться</button>
  </form>
  </div>
  <script src="./public/javascripts/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  <script src="./public/javascripts/tab_swipe.js"> </script>
</body>
</html>
