<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <style>
    *{


    font-family: 'Philosopher', sans-serif;
  }
    </style>
</head>
<body>
    <%- include('header.ejs', {isLog: isLogin, rol:role}) %>

  <script src="../public/javascripts/jquery-3.2.1.min.js"></script>
  <script src="../public/javascripts/tab_swipe.js"> </script>
</body>
</html>
