<!doctype html>
<html>
<head>
    <title> StartUpLab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
    <%-include('headinc.ejs') %>
    <link rel="stylesheet" href="../public/stylesheets/profile.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/x-icon">
    <style>
    *{


    font-family: 'Philosopher', sans-serif;
  }
    </style>
</head>
<body>
    <div style="background: #BC8F8F">

    <%- include('header.ejs', {isLog: isLogin, rol:role}) %>
    <div>
    <p> <h1>Профиль</h1> </p>
    <div><%=user.f_mame%><div>
    <div><%=user.s_name%><div>
    <div><%=user.username%><div>
    <div><%=user.email%><div>
    <%if (user.orders == "") {%>
      <div>Нет заказов<div>
    <%} else {%><div><%=user.orders%><div><%}%>
    <%if (user.perm == "ADMIN") {%>
      <form action="/create_event" method="get">
        <button type="submit" class="btn btn-outline-dark">Создать мероприятие</button>
      </form>
    <%}%>
  </div>
</div>

  <div style="background: #F08080	">
        <p> <h1>Редактирование</h1> </p>
    <img src="https://memchik.ru/images/templates/silniy_kot.jpg"
    <div class="tabs-box">

    <form action="/reg" method="post" class="container">
      <div class="form-group">
        <label for="sname">Фамилия</label>
        <input type="text" class="form-control" name="sname" id="sname" aria-describedby="helpId" placeholder="Иванов" required>
      </div>
      <div class="form-group">
          <label for="fname">Имя</label>
          <input type="text" class="form-control" name="fname" id="fname" aria-describedby="helpId" placeholder="Иван" required>
        </div>

      <div class="form-group">
        <label for="email">Почта</label>
        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="почта" required>
      </div>

      <!-- <div class="form-group">
        <label for="pass2">Повторите пароль</label>
        <input type="password" class="form-control" name="pass2" id="pass2" placeholder="повтор">
      </div> -->


      <button type="submit" class="btn btn-outline-dark">Сохранить</button>
    </form>
    </div>
  </div>

  <div style="background: #CD5C5C">
    <p> <h1>Заказы</h1> </p>
    <img src="https://vignette.wikia.nocookie.net/meme/images/1/1e/%D0%9A%D0%BE%D1%82-%D0%BA%D0%B0%D1%87%D0%BE%D0%BA_%D0%BE%D1%80%D0%B8%D0%B3%D0%B8%D0%BD%D0%B0%D0%BB.jpg/revision/latest?cb=20170509072800&path-prefix=ru">
  </div>

  <div style="background: #CD5C5C">
    <p> <h1>Отзывы</h1> </p>
    <img src="http://rai77.com/upload/000/u1/3c/14/b78d9d4d.jpg">
  </div>


</body>


</html>
