<!doctype html>
<html>
<head>
  <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.min.js" integrity="sha256-1XfFQxRfNvDJW3FdZ+xlo2SbodG2+rFArw6XsVzu3bc=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <style>
    *{
      font-family: 'Philosopher', sans-serif;
    }
    body{
      background: rgb(200, 50, 50);
    }
    </style>
</head>
<body>
  <%- include('header.ejs') %>

  <% if(isLogin){%>

  <!-- <div style="border: 4px double black"> -->
  <%-api_data%>
  <%}%>
<!-- </div> -->


</body>
</html>
