<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/static/img/as_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <style>
    *{
      font-family: 'Philosopher', sans-serif;
    }
    body{
      background: lightgray
    }
    </style>
</head>
<body>
  <%- include('header.ejs', {isLog: isLogin, rol:role}) %>
  <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
<% } %>

  <h1 style="font-family: 'Philosopher'" align="center"> РЕГИСТРАЦИЯ </h1>
  <div class="tabs-box">
  <form action="/reg" method="post" class="container" novalidate>
    <div class="row">
    <div class="form-group col-xl-6">
      <label for="login">Логин</label>
        <input type="text" class="form-control" name="username" id="login" aria-describedby="helpId" placeholder="Логин" required>
      <small id="helpId" class="form-text text-muted">Выбирайте внимательно. Он будет использоваться для входа и изменить его будет нельзя.</small>
    </div>

    <div class="form-group col-xl-6">
      <label for="pass1">Пароль: <span class="text-danger">*</span></label>
      <input type="password" class="form-control" name="password" id="pass1" placeholder="Пароль" required>
    </div>
    <div class="form-group col-xl-6">
      <label for="pass2">Повторите пароль: <span class="text-danger">*</span></label>
      <input type="password" class="form-control" name="pass2" id="pass2" placeholder="Повтор пароля" required>
    </div>
    <div class="form-group col-xl-6">
      <label for="email">Почта: <span class="text-danger">*</span></label>
      <input type="email" class="form-control" name="iemail" id="email" placeholder="example@gmail.com" required>
    </div>
  </div>
  <hr>
  <div id="ispoln">
    <div class="row">

    <div class="form-group col-xl-6">
      <label for="surname">Фамилия <span class="text-danger">*</span></label>
      <input type="text" class="form-control" name="isname" id="surname" aria-describedby="helpId" placeholder="Иванов" required>
      <!-- <small id="helpId" class="form-text text-muted"></small> -->
    </div>

    <div class="form-group col-xl-6">
      <label for="name">Имя <span class="text-danger">*</span></label>
      <input type="text" class="form-control" name="ifname" id="helpId" aria-describedby="helpId" placeholder="Иван" required>
      <!-- <small id="helpId" class="form-text text-muted"></small> -->
    </div>

    <div class="form-group col-xl-6">
        <label for="patronymic">Отчество </label>
        <input type="text" class="form-control" name="itname" id="patronymic" aria-describedby="helpId" placeholder="Иванович" required>
        <p><input type="checkbox" name="noPatronymic" id="checkTname" aria-describedby="helpId" onclick="checkedTname()"> Нет отчества</p>
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>

  </div>
</div>
    <div class="form-check  d-flex justify-content-center align-items-center" >
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" onclick="temp()">
         Соглашаюсь на обработку персональных данных.
      </label>

      <button type="submit" class="btn btn-outline-dark" id="but" disabled>Зарегистрироваться</button>
    </div>
  </form>
  </div>
</div>

<script type="text/javascript">
  function checkedTname() {
    if(checkTname.checked)
    {
      patronymic.setAttribute('readonly', 'readonly');
      patronymic.text = "";
    }
    else {
        patronymic.removeAttribute('readonly');
    }
  }
</script>
<script src="../static/stylesheets/global_assets/js/plugins/forms/wizards/steps.min.js"></script>
<script src="../static/stylesheets/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="../static/stylesheets/global_assets/js/plugins/forms/inputs/inputmask.js"></script>
<script src="../static/stylesheets/global_assets/js/plugins/forms/validation/validate.min.js"></script>
<script src="../static/stylesheets/global_assets/js/plugins/extensions/cookie.js"></script>
<script src="../static/stylesheets/global_assets/js/demo_pages/form_wizard.js"></script>
<script src="./public/javascripts/tab_swipe.js"> </script>
<script src="../static/stylesheets/global_assets/js/demo_pages/form_checkboxes_radios.js"></script>
<script src="../static/stylesheets/global_assets/js/plugins/forms/styling/switch.min.js"></script>
<script>
  function change(){
    if(document.getElementById('checkThis').checked){
      document.getElementById("zakaz").style.display = "none";
      document.getElementById("ispoln").style.display = "block";
    } else {
      document.getElementById("ispoln").style.display = "none";
      document.getElementById("zakaz").style.display = "block";
    }
   }
</script>
</body>
</html>
