<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <style>
    *{
      font-family: 'Philosopher', sans-serif;
    }
    </style>
</head>
<body>
  <%-- include('header.ejs', {isLog: isLogin, rol:role}) %>
  <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
<% } %>

  <h1 style="font-family: 'Philosopher'"> РЕГИСТРАЦИЯ </h1>
  <div class="tabs-box">
  <form action="/reg" method="post" class="container" novalidate>
    <div class="row">
    <div class="form-group col-xl-6">
      <label for="login">Логин</label>
        <input type="text" class="form-control" name="username" id="login" aria-describedby="helpId" placeholder="Логин" required>
      <small id="helpId" class="form-text text-muted">Выбирайте внимательно. Он будет использоваться для входа и изменить его будет нельзя.</small>
    </div>

    <div class="form-group col-xl-6">
      <label for="pass1">Пароль: <span class="text-danger">*</span></label>
      <input type="password" class="form-control" name="password" id="pass1" placeholder="Пароль" required>
    </div>
    <div class="form-group col-xl-6">
      <label for="pass2">Повторите пароль: <span class="text-danger">*</span></label>
      <input type="password" class="form-control" name="pass2" id="pass2" placeholder="Повтор пароля" required>
    </div>
  </div>
    <hr>
    <div id="ispoln">
      <div class="row">

      <div class="form-group col-xl-6">
        <label for="email">Почта</label>
        <input type="email" class="form-control" name="iemail" id="email" aria-describedby="рelpId" placeholder="tamp@gmail.com" required>
      </div>

      <div class="form-group col-xl-6">
        <label for="inst">Институт</label>
        <input type="text" class="form-control" name="inst" id="inst" aria-describedby="helpId" placeholder="ИМИТ" required>
        <!-- <small id="helpId" class="form-text text-muted"></small> -->
      </div>

      <div class="form-group col-xl-6">
          <label for="group">Группа</label>
          <input type="text" class="form-control" name="group" id="group" aria-describedby="helpId" placeholder="МКН-171" required>
          <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
        </div>

      <div class="form-group col-xl-6">
        <label for="vk">Вк</label>
        <input type="text" class="form-control" name="vk" id="vk" aria-describedby="helpId" placeholder="vk.com/halukalu" required>
      </div>
    </div>
  </div>
    <br><br>
    <div class="form-check" >
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue"  onclick="temp()">
         Соглашаюсь на обработку персональных данных.
      </label>
    </div>
    <button type="submit" class="btn btn-outline-dark" id="but" disabled>Зарегистрироваться</button>
  </form>
  </div>
</div>

<script src="../static/stylesheets/global_assets/js/plugins/forms/wizards/steps.min.js"></script>
<script src="../static/stylesheets/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="../static/stylesheets/global_assets/js/plugins/forms/inputs/inputmask.js"></script>
<script src="../static/stylesheets/global_assets/js/plugins/forms/validation/validate.min.js"></script>
<script src="../static/stylesheets/global_assets/js/plugins/extensions/cookie.js"></script>
<script src="../static/stylesheets/global_assets/js/demo_pages/form_wizard.js"></script>
<script src="./public/javascripts/tab_swipe.js"> </script>
<script src="../static/stylesheets/global_assets/js/demo_pages/form_checkboxes_radios.js"></script>
<script src="../static/stylesheets/global_assets/js/plugins/forms/styling/switch.min.js"></script>
<script>
  function change(){
    if(document.getElementById('checkThis').checked){
      document.getElementById("zakaz").style.display = "none";
      document.getElementById("ispoln").style.display = "block";
    } else {
      document.getElementById("ispoln").style.display = "none";
      document.getElementById("zakaz").style.display = "block";
    }
   }
</script>
</body>
</html>
