a{
    color: black;
}
::-webkit-scrollbar {
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.5);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.4);
}
.main{
    min-height: 90vh;
    margin-top: 1%;
}
.nav-item-right{
    border:none;
}
.fa-link:before{
    content: none;
    display: none;
}
.bg-indigo-1000{
    background-color: rgb(21, 58, 104);
    color: rgb(21, 58, 104);
}
.footer-icon{
    margin-top: 10px;
    margin-left:  3%;
    margin-right:3%;
    color: rgb(17, 43, 75);
}
.fa-link{
    color: rgb(17, 43, 75);
}
.fa-link:hover{
    color: rgb(21, 58, 104);
}
.add-flex{
    display: flex;
}
.desciption-footer{
    left: 0;
    right: 0;
    text-align: center;
}
.fox-slider{
    width: 100%;
    height: auto;
}
.btn-volsu{
    color: rgb(220, 221, 219);
    background-color: green;
    transition: 0.5s;
    font-size: 1.05rem;
}
#btn-reg{
    margin: 0 0 1.5% 70%;
}
#button-mobile-r{
    margin: 5px 5px;
    font-size: 0.9rem;
    border-radius: 30px;
}
.btn-volsu:hover{
    color: rgb(220, 221, 219);
    background-color: rgb(14, 40, 71);
    transition: 0.5s;
}
.volsu-btn{
    color: rgb(14, 40, 71);
    /*background-color: rgb(220, 221, 219);*/
    border: 1px solid rgb(220, 221, 219);
    transition: 0.5s;

}
.volsu-btn:hover{
    color: rgb(14, 40, 71);
    background-color: rgb(220, 221, 219);
    transition: 0.5s;
    border: 1px solid rgb(220, 221, 219);
}
@media (min-width: 1200px) {
    a.navbar-nav-link{
        font-size: 1rem;
    }
    .nav-item{
        border-right: solid 1px rgb(15, 0, 102);
    }
    .slide{
        max-width: 80%;
        margin: 0 10%;
    }
    .button-mobile{
        display: none;
    }
}
body{
  background-color: rgb(50, 50, 50);
}
